-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: streamhub
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `canal_autodesactivados`
--

DROP TABLE IF EXISTS `canal_autodesactivados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `canal_autodesactivados` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `fuente_id` int(10) unsigned NOT NULL,
  `total_reportes` int(11) NOT NULL,
  `razon` varchar(500) DEFAULT NULL,
  `desactivado_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `canal_autodesactivados`
--

LOCK TABLES `canal_autodesactivados` WRITE;
/*!40000 ALTER TABLE `canal_autodesactivados` DISABLE KEYS */;
/*!40000 ALTER TABLE `canal_autodesactivados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `canal_guardados`
--

DROP TABLE IF EXISTS `canal_guardados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `canal_guardados` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `fuente_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_save` (`user_id`,`fuente_id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `canal_guardados`
--

LOCK TABLES `canal_guardados` WRITE;
/*!40000 ALTER TABLE `canal_guardados` DISABLE KEYS */;
/*!40000 ALTER TABLE `canal_guardados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `canal_likes`
--

DROP TABLE IF EXISTS `canal_likes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `canal_likes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `fuente_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_like` (`user_id`,`fuente_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `canal_likes`
--

LOCK TABLES `canal_likes` WRITE;
/*!40000 ALTER TABLE `canal_likes` DISABLE KEYS */;
INSERT INTO `canal_likes` VALUES (1,1,70,'2026-05-01 05:29:57'),(2,1,31,'2026-05-01 20:13:56'),(3,1,113,'2026-05-09 21:09:17'),(4,1,33,'2026-05-09 22:10:53'),(6,31,51,'2026-05-27 04:01:47'),(7,31,61,'2026-05-27 12:51:51'),(8,79,101,'2026-06-14 19:55:34'),(9,87,88,'2026-06-17 21:23:24'),(10,90,32,'2026-06-18 20:04:32'),(11,99,33,'2026-06-23 00:42:31');
/*!40000 ALTER TABLE `canal_likes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `canal_reportes`
--

DROP TABLE IF EXISTS `canal_reportes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `canal_reportes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `fuente_id` int(10) unsigned NOT NULL,
  `comentario` text DEFAULT NULL,
  `dispositivo` varchar(500) DEFAULT NULL,
  `pais` varchar(100) DEFAULT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `canal_reportes`
--

LOCK TABLES `canal_reportes` WRITE;
/*!40000 ALTER TABLE `canal_reportes` DISABLE KEYS */;
/*!40000 ALTER TABLE `canal_reportes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `canales`
--

DROP TABLE IF EXISTS `canales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `canales` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `logo` varchar(500) DEFAULT NULL,
  `stream_url` varchar(1000) DEFAULT NULL,
  `category` int(11) DEFAULT NULL,
  `views` varchar(20) DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `fk_channels_categories` (`category`),
  CONSTRAINT `fk_channels_categories` FOREIGN KEY (`category`) REFERENCES `categorias_canal` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1465 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `canales`
--

LOCK TABLES `canales` WRITE;
/*!40000 ALTER TABLE `canales` DISABLE KEYS */;
/*!40000 ALTER TABLE `canales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_canal`
--

DROP TABLE IF EXISTS `categorias_canal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias_canal` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_canal`
--

LOCK TABLES `categorias_canal` WRITE;
/*!40000 ALTER TABLE `categorias_canal` DISABLE KEYS */;
INSERT INTO `categorias_canal` VALUES (6,'Adultos'),(1,'Deportes'),(3,'Entretenimiento'),(5,'Infantil'),(4,'Música'),(2,'Noticias'),(7,'Películas');
/*!40000 ALTER TABLE `categorias_canal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_messages` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `canal_id` int(11) NOT NULL,
  `user_id` int(10) unsigned NOT NULL DEFAULT 0,
  `user_name` varchar(100) NOT NULL,
  `user_rol` enum('admin','spicy','usuario') NOT NULL DEFAULT 'usuario',
  `message` varchar(500) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_canal_id` (`canal_id`,`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_online`
--

DROP TABLE IF EXISTS `chat_online`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_online` (
  `session_id` varchar(128) NOT NULL,
  `user_id` int(10) unsigned NOT NULL DEFAULT 0,
  `canal_id` int(11) NOT NULL,
  `last_seen` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`session_id`,`canal_id`),
  KEY `idx_canal_lastseen` (`canal_id`,`last_seen`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_online`
--

LOCK TABLES `chat_online` WRITE;
/*!40000 ALTER TABLE `chat_online` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_online` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_sitio`
--

DROP TABLE IF EXISTS `config_sitio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `config_sitio` (
  `clave` varchar(60) NOT NULL,
  `valor` text DEFAULT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_sitio`
--

LOCK TABLES `config_sitio` WRITE;
/*!40000 ALTER TABLE `config_sitio` DISABLE KEYS */;
/*!40000 ALTER TABLE `config_sitio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donaciones`
--

DROP TABLE IF EXISTS `donaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `cafes` int(11) NOT NULL DEFAULT 1,
  `meses` int(11) NOT NULL DEFAULT 1,
  `notas` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donaciones`
--

LOCK TABLES `donaciones` WRITE;
/*!40000 ALTER TABLE `donaciones` DISABLE KEYS */;
INSERT INTO `donaciones` VALUES (1,70,1,1,NULL,'2026-06-11 17:39:44'),(2,75,1,1,'Usuario cortesía','2026-06-15 18:00:29'),(3,86,1,1,NULL,'2026-06-17 03:15:45'),(4,85,1,1,'Cortesía','2026-06-17 14:54:14');
/*!40000 ALTER TABLE `donaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipo_guardados`
--

DROP TABLE IF EXISTS `equipo_guardados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipo_guardados` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `equipo_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_save` (`user_id`,`equipo_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipo_guardados`
--

LOCK TABLES `equipo_guardados` WRITE;
/*!40000 ALTER TABLE `equipo_guardados` DISABLE KEYS */;
INSERT INTO `equipo_guardados` VALUES (2,1,6723,'2026-07-08 04:06:37'),(3,1,6720,'2026-07-08 04:10:29');
/*!40000 ALTER TABLE `equipo_guardados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipos`
--

DROP TABLE IF EXISTS `equipos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `logo` varchar(500) DEFAULT NULL,
  `pais` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=900010262 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipos`
--

LOCK TABLES `equipos` WRITE;
/*!40000 ALTER TABLE `equipos` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eu_access`
--

DROP TABLE IF EXISTS `eu_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eu_access` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `ip` varchar(45) NOT NULL,
  `pais` varchar(100) NOT NULL DEFAULT '',
  `estado` enum('pendiente','aprobado','denegado') NOT NULL DEFAULT 'pendiente',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ip` (`ip`),
  KEY `idx_user` (`user_id`),
  KEY `idx_estado` (`estado`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eu_access`
--

LOCK TABLES `eu_access` WRITE;
/*!40000 ALTER TABLE `eu_access` DISABLE KEYS */;
/*!40000 ALTER TABLE `eu_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fuentes`
--

DROP TABLE IF EXISTS `fuentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fuentes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `canal` int(11) NOT NULL,
  `url` text NOT NULL,
  `ck_key` varchar(500) DEFAULT NULL,
  `ck_keyid` varchar(500) DEFAULT NULL,
  `pais` int(11) DEFAULT NULL,
  `tipo` int(11) NOT NULL,
  `epg` varchar(500) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `sandbox` tinyint(1) NOT NULL DEFAULT 1,
  `mostrar_tv` tinyint(1) NOT NULL DEFAULT 1,
  `reproductor` varchar(20) NOT NULL DEFAULT 'bitmovin',
  `url_ios` varchar(2000) DEFAULT NULL,
  `tipo_ios` varchar(20) NOT NULL DEFAULT 'hls',
  `usar_proxy` tinyint(1) NOT NULL DEFAULT 0,
  `solo_spicy` tinyint(1) NOT NULL DEFAULT 0,
  `tdt_ref` varchar(180) DEFAULT NULL,
  `geo_bloqueado` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_fuentes_tdt_ref` (`tdt_ref`),
  KEY `canal` (`canal`),
  KEY `pais` (`pais`),
  KEY `tipo` (`tipo`),
  CONSTRAINT `fuentes_ibfk_1` FOREIGN KEY (`canal`) REFERENCES `canales` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fuentes_ibfk_2` FOREIGN KEY (`pais`) REFERENCES `paises` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fuentes_ibfk_3` FOREIGN KEY (`tipo`) REFERENCES `tipos_fuente` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=711 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fuentes`
--

LOCK TABLES `fuentes` WRITE;
/*!40000 ALTER TABLE `fuentes` DISABLE KEYS */;
/*!40000 ALTER TABLE `fuentes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ligas`
--

DROP TABLE IF EXISTS `ligas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ligas` (
  `id` int(11) NOT NULL,
  `ligaNombre` varchar(200) NOT NULL,
  `ligaImg` varchar(500) DEFAULT NULL,
  `ligaPais` varchar(100) DEFAULT NULL,
  `tipo` varchar(60) DEFAULT 'soccer',
  `season` varchar(20) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ligas`
--

LOCK TABLES `ligas` WRITE;
/*!40000 ALTER TABLE `ligas` DISABLE KEYS */;
INSERT INTO `ligas` VALUES (47,'Premier League','premier-league','eng','football','2026/2027',1),(77,'World Cup','world-cup','int','football','2026',1),(144,'Primera Division','primera-division','bol','football','2026',1),(246,'Serie A','serie','ecu','football','2026',1),(8814,'Serie B','serie-b','bra','football','2026',1);
/*!40000 ALTER TABLE `ligas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paises`
--

DROP TABLE IF EXISTS `paises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paises` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paisCodigo` varchar(60) NOT NULL,
  `paisNombre` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `paisCodigo` (`paisCodigo`)
) ENGINE=InnoDB AUTO_INCREMENT=1286 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paises`
--

LOCK TABLES `paises` WRITE;
/*!40000 ALTER TABLE `paises` DISABLE KEYS */;
INSERT INTO `paises` VALUES (378,'england','England'),(408,'italy','Italy'),(438,'europe','Europe'),(441,'spain','Spain'),(474,'south-america','South America'),(542,'usa','USA'),(692,'france','France'),(723,'germany','Germany'),(896,'argentina','Argentina'),(936,'mexico','Mexico'),(987,'world','World'),(1249,'eng','ENG'),(1250,'asia','Asia'),(1281,'ecu','ECU'),(1283,'bra','BRA'),(1284,'bol','BOL'),(1285,'int','INT');
/*!40000 ALTER TABLE `paises` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partidos`
--

DROP TABLE IF EXISTS `partidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partidos` (
  `id` int(11) NOT NULL,
  `local` int(11) NOT NULL,
  `visitante` int(11) DEFAULT NULL,
  `liga` int(11) NOT NULL,
  `fecha_hora` datetime DEFAULT NULL,
  `tipo` varchar(60) DEFAULT NULL,
  `starp` int(11) DEFAULT NULL,
  `vix` int(11) DEFAULT NULL,
  `canal1` int(11) DEFAULT NULL,
  `canal2` int(11) DEFAULT NULL,
  `canal3` int(11) DEFAULT NULL,
  `canal4` int(11) DEFAULT NULL,
  `canal5` int(11) DEFAULT NULL,
  `canal6` int(11) DEFAULT NULL,
  `canal7` int(11) DEFAULT NULL,
  `canal8` int(11) DEFAULT NULL,
  `canal9` int(11) DEFAULT NULL,
  `canal10` int(11) DEFAULT NULL,
  `extra_min` smallint(6) NOT NULL DEFAULT 0 COMMENT 'minutos extra que el admin agrega a la ventana en vivo (prorroga, retrasos, etc.)',
  PRIMARY KEY (`id`),
  KEY `local` (`local`),
  KEY `visitante` (`visitante`),
  KEY `liga` (`liga`),
  KEY `partidos_ibfk_11` (`canal8`),
  KEY `partidos_ibfk_13` (`canal10`),
  KEY `partidos_ibfk_5` (`canal2`),
  KEY `partidos_ibfk_7` (`canal4`),
  KEY `partidos_ibfk_9` (`canal6`),
  KEY `partidos_ibfk_10` (`canal7`),
  KEY `partidos_ibfk_12` (`canal9`),
  KEY `partidos_ibfk_4` (`canal1`),
  KEY `partidos_ibfk_6` (`canal3`),
  KEY `partidos_ibfk_8` (`canal5`),
  CONSTRAINT `partidos_ibfk_1` FOREIGN KEY (`local`) REFERENCES `equipos` (`id`),
  CONSTRAINT `partidos_ibfk_10` FOREIGN KEY (`canal7`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_11` FOREIGN KEY (`canal8`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_12` FOREIGN KEY (`canal9`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_13` FOREIGN KEY (`canal10`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_2` FOREIGN KEY (`visitante`) REFERENCES `equipos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_3` FOREIGN KEY (`liga`) REFERENCES `ligas` (`id`),
  CONSTRAINT `partidos_ibfk_4` FOREIGN KEY (`canal1`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_5` FOREIGN KEY (`canal2`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_6` FOREIGN KEY (`canal3`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_7` FOREIGN KEY (`canal4`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_8` FOREIGN KEY (`canal5`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `partidos_ibfk_9` FOREIGN KEY (`canal6`) REFERENCES `fuentes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partidos`
--

LOCK TABLES `partidos` WRITE;
/*!40000 ALTER TABLE `partidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `partidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partidos_destacados`
--

DROP TABLE IF EXISTS `partidos_destacados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partidos_destacados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `partido_id` int(11) NOT NULL,
  `posicion` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_partido` (`partido_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partidos_destacados`
--

LOCK TABLES `partidos_destacados` WRITE;
/*!40000 ALTER TABLE `partidos_destacados` DISABLE KEYS */;
/*!40000 ALTER TABLE `partidos_destacados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proxies`
--

DROP TABLE IF EXISTS `proxies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proxies` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL DEFAULT '',
  `url` varchar(500) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_url` (`url`(255))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proxies`
--

LOCK TABLES `proxies` WRITE;
/*!40000 ALTER TABLE `proxies` DISABLE KEYS */;
INSERT INTO `proxies` VALUES (1,'Proxy 1','https://uty-xdnn.onrender.com/',1,'2026-06-18 03:35:26'),(2,'Proxy 2','https://uty-wg9v.onrender.com/',1,'2026-06-18 04:09:21');
/*!40000 ALTER TABLE `proxies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesiones_persistentes`
--

DROP TABLE IF EXISTS `sesiones_persistentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sesiones_persistentes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned NOT NULL,
  `token_hash` char(64) NOT NULL,
  `expira_en` datetime NOT NULL,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_token` (`token_hash`),
  KEY `idx_usuario` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesiones_persistentes`
--

LOCK TABLES `sesiones_persistentes` WRITE;
/*!40000 ALTER TABLE `sesiones_persistentes` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesiones_persistentes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_fuente`
--

DROP TABLE IF EXISTS `tipos_fuente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_fuente` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) NOT NULL,
  `icono` varchar(60) DEFAULT 'fa-play',
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_fuente`
--

LOCK TABLES `tipos_fuente` WRITE;
/*!40000 ALTER TABLE `tipos_fuente` DISABLE KEYS */;
INSERT INTO `tipos_fuente` VALUES (1,'HLS JW','fa-play'),(2,'HLS CLP','fa-play'),(3,'DASH','fa-broadcast-tower'),(4,'DASHM','fa-lock'),(5,'iframe','fa-window-maximize'),(6,'youtube','fa-youtube'),(7,'WBC','fa-play');
/*!40000 ALTER TABLE `tipos_fuente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tv_login_tokens`
--

DROP TABLE IF EXISTS `tv_login_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tv_login_tokens` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `token` char(32) NOT NULL,
  `usuario_id` int(10) unsigned DEFAULT NULL,
  `status` enum('pending','approved') NOT NULL DEFAULT 'pending',
  `expires_at` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_token` (`token`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tv_login_tokens`
--

LOCK TABLES `tv_login_tokens` WRITE;
/*!40000 ALTER TABLE `tv_login_tokens` DISABLE KEYS */;
INSERT INTO `tv_login_tokens` VALUES (23,'9e7259e4d35e7e31c037fbcba7d387c6',NULL,'pending','2026-06-22 23:01:47','2026-06-22 22:51:47');
/*!40000 ALTER TABLE `tv_login_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('admin','usuario','spicy') NOT NULL DEFAULT 'usuario',
  `avatar_url` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `spicy_hasta` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-07 22:21:20
