# Deshabilitar ModSecurity para los endpoints de la API
<IfModule mod_security2.c>
    SecRuleEngine Off
    SecRequestBodyAccess Off
</IfModule>
<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

Options -Indexes
